* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

main {
    clear: both;
}

.container {
    width: 1600px;
    min-width: 400px;
    margin: 0 auto;
    min-height: 100%;
}

header {
    width: 1600px;
    height: 151px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.header_1 {
    align-items: center;
    display: flex;
    width: 1140px;
    margin: 0 auto;
    height: 100px;
}

.logo {
    width: 51px;
    height: 51px;
    margin-right: 13px;
}

.log {
    display: flex;
}

.log_f {
    display: inline-block;
    float: left;
    margin-top: 108px;
    margin-right: 13px;
}

.search_input_shop {
    width: 317px;
    height: 36px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
}

.search {
    position: relative;
    display: flex;
    height: 38px;
}

.search_top {
    width: 38px;
    height: 38px;
    border: 1px solid #e6e6e6;
    background: none;
}
.search_top:hover {
   
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.search_img {

    width: 14px;
    height: 14px;
}

.search_input_shop[value] {
    padding-left: 10px;
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
}

.name_site {
    display: flex;
    width: 92px;
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-left: 12px;
}

.name_site:nth-last-child(1) {
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-weight: 900;
    color: #f16d7f;
}

.button_browse {
    margin-left: 46px;
    box-sizing: border-box;
    padding-top: 3px;
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
    display: inline-block;
    text-align: center;
    width: 87px;
    height: 38px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    text-decoration: none;
    vertical-align: middle;
}

.button_browse:hover {
    background-color: #ee5469;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.basket_shop {
    margin-left: auto;
}

.shop_account {
    margin-left: 26px;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    font-family: Lato;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.shop_account:hover {
    background-color: #ee5469;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav {
    display: flex;
    width: 1140px;
    height: 50px;
    background-color: #ffffff;
    margin: 0 auto;
    justify-content: center;
}

.h_shop_style {
    list-style-type: none;
    float: left;
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.h_shop {
    padding-top: 12px;
    box-sizing: border-box;
}

.h_shop_style {
    list-style-type: none;
    float: left;
}

.h_link {
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
    padding: 15px 22px;
}

.h_link_activ {
    color: #949292;

}

.h_link:hover {
    color: #949292;
    border-bottom: 3px solid #f16d7f;

}

.baner1 {
    position: relative;
    width: 1600px;
    height: 665px;
    background-image: url(img/image_frame_84.jpg);
}

.img_baner1 {
    margin-top: 224px;
    margin-left: 230px;
    position: absolute;
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
}

.text_content {
    font-family: Lato;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
}

.text_baner1 {
    position: absolute;
    margin-top: 208px;
    margin-left: 254px;
}

.text_content2 {
    font-size: 40px;
}

.text_content2:nth-last-child(-n+7) {
    color: #f16d7f;
}

main {
    width: 1300px;
    margin: 0 auto;
}

.collection {
    width: 1300px;
}

.block_2 {
    margin-right: 20px;
    margin-top: 98px;
    display: flex;
    float: left;
    flex-direction: column;
    width: 560px;
    height: 824px;
}

.img_block2 {
    margin-bottom: 20px;
    position: relative;
    width: 560px;
    height: 542px;
}

.img_block2_b {
    margin-right: 21px;
    margin-bottom: 20px;
    position: relative;
    width: 560px;
    height: 261px;
}

.text_cont {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 27px;
    position: absolute;
    height: 82px;
    background-color: #ffffff;
    justify-content: center;
}

.t_cont1 {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.t_cont2 {
    font-size: 30px;
    color: #f16d7f;
}

.content_img {
    width: 560px;
    height: 542px;
}

.content_img_b {
    width: 560px;
    height: 261px;
}

.block_fetured_items {
    width: 1140px;


}

.block_fetured {
    margin-top: 100px;
    margin-bottom: 4px;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
}

.subtitle_blockitem {
    margin-bottom: 62px;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    line-height: 0px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
}

.row_item_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

.item_card {
    width: 263px;
    height: 364px;

}

.item_card:hover {
    width: 263px;
    height: 364px;
    background-color: #ffffff;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item_img {
    display: inline-flex;
    width: 263px;
    height: 280px;
}

img_blockitem {
    position: relative;
}

.layer {
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    width: 263px;
    height: 280px;
    z-index: 1;
    background-color: rgba(58, 56, 56, 0);
}

.layer:hover {
    background-color: rgba(58, 56, 56, 0.83);
}


.add_to_cart {
    align-items: center;
    justify-content: flex-end;
    display: none;
    padding-right: 20px;
    background-image: url(img/forma_1_copy_1287.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: auto;
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    text-align: end;
    z-index: 500;
    text-decoration: none;
}

.layer:hover > .add_to_cart {
    display: inline-flex;
}

.title_blockitem {
    display: block;
    width: 261px;
    height: 35px;
}

.text_blockitem {
    margin-left: 15px;
    overflow: hidden;
    margin-top: 19px;
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}

.price_blockitem {
    margin-left: 15px;
    margin-top: 17px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.all_product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 79px;
    margin-bottom: 113px;
    height: 48px;
    width: 1140px;
}

.button_prod {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: none;
}

.button_prod:hover {
    background-color: #ee5469;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.baner2 {
    width: 1140px;
    height: 529px;
    background-color: #222224;
}

.baner2_bl_1 {
    position: relative;
    float: left;
    width: 767px;
    height: 529px;
}

.baner2_bl_2 {
    position: relative;
    width: 767px;
    height: 529px;
}

.ban2_t {
    position: absolute;
    margin-top: 10px;
    margin-right: 20px;
}

.h2_baner2_text {
    margin-left: 39px;
    margin-top: 146px;
    font-family: Lato;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.h2_baner2_text:nth-last-child(-n+5) {
    color: #f16d7f;
}

.baner2_text {
    margin-left: 39px;
    font-family: Lato;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.bl_2_text {
    float: right;
    font-family: Lato;
    font-size: 32.2px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.baner2_bl_2 {
    display: flex;
    flex-direction: column;
    width: 373px;
    height: 529px;
    float: left;
}

.bl_2_cont_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    height: 176px;
    width: 373px;
    background-image: url(img/forma_1_1322.svg);
    background-position: 36px 48px;
    background-repeat: no-repeat;
    background-size: auto;
}

.bl_2_cont_2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    height: 176px;
    width: 373px;
    background-image: url(img/forma_1_1340.svg);
    background-position: 36px 48px;
    background-repeat: no-repeat;
    background-size: auto;
}

.bl_2_cont_3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    height: 176px;
    width: 373px;
    background-image: url(img/forma_1_1341.svg);
    background-position: 36px 48px;
    background-repeat: no-repeat;
    background-size: auto;
}

.bl_2_text {
    position: absolute;
    width: 219px;

    margin-top: 52px;
    margin-right: 45px;
    overflow: hidden;
}

.bl_2_p {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.bl_2_title {
    font-family: Lato;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.baner3 {
    position: relative;
    margin-top: 97px;
    width: 1600px;
    height: 438px;
    background-image: url(img/rectangle_9_2194.jpg);
    background-color: rgba(242, 242, 242, 0.5);
}

.ten {
    position: absolute;
    width: 1600px;
    height: 438px;
    background-color: rgba(242, 242, 242, 0.5);
}

.slider_ban3 {
    margin-top: 111px;
    margin-left: 230px;
    position: absolute;
    height: 120px;
    width: 486px;
}

.img_ban3 {
    margin-left: 28px;
    margin-right: 28px;
    float: left;
    border-radius: 50%;
    width: 83px;
    height: 83px;
}

.text_ban3 {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
}

.sign_ban3 {
    margin-top: 19px;
    margin-left: 140px;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

._ban3 {
    margin-left: 140px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #222224;
}

.ban3_nav {
    margin-left: 140px;
    margin-top: 41px;
    display: inline-block;
    float: left;
    width: 153px;
    height: 4px;

}

.ban3_li {
    float: left;
    margin-right: 13px;
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.activ_li {
    background-color: #f16d7f;
}

.ban3_li:hover {
    background-color: #f16d7f;
}

.polosa {
    position: absolute;
    margin-left: 50%;
    width: 1px;
    height: 438px;
    background-color: #ffffff;
}

.subscribe {
    position: absolute;
    display: block;
    width: 386px;
    height: 300px;
    margin-bottom: 40px;
    margin-left: 892px;
}

.sub_text {
    text-align: center;
    margin: 0 auto;
    width: 277px;
    margin-top: 148px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
}

.sub_p {
    text-align: center;
    margin: 0 auto;
    width: 277px;
    font-size: 14px;
    font-family: Lato;
    line-height: 24px;
    text-transform: none;
}

.sub_input {
    border: none;
    position: relative;
    margin-top: 25px;
    width: 340px;
    height: 46px;
    background-color: #e1e1e1;
    border-radius: 23px;
}

.sub_input[value] {
    padding-left: 24px;
    opacity: 0.67;
    font-family: Lato;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
    box-sizing: border-box;
}

.buton_subscribe {
    margin-top: 25px;
    margin-left: -59px;
    padding-left: 18px;
    position: absolute;
    float: right;
    width: 104px;
    height: 46px;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
    font-family: Lato;
    font-size: 14px;
    line-height: 51px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    box-sizing: border-box;
    text-decoration: none;
}

.buton_subscribe:hover {
    background-color: #ee5469;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
}

footer {
    height: 537px;
    width: 100%;
    position: relative;
}

.footer_shop {
    margin: 0 auto;
    width: 1140px;
    height: 458px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.footer_1 {
    width: 427px;
    height: 458px;
}

.footer_1_text {
    text-align: justify;
    padding-top: 27px;
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
}

.footer_2 {
    width: 103px;
    height: 458px;
}

.footer_3 {
    width: 150px;
    height: 458px;
}

.footer_4 {
    width: 160px;
    height: 458px;
}

.otstup {
    margin-top: 123px;
}

.footer_h2 {
    margin-top: 123px;
    font-family: Lato;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.footer_ul {
    list-style-type: none;
    margin-top: 20px;
}

.footer_list {
    height: 44px;
}

.link_style {
    text-decoration: none;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
}

.link_footer_1 {
    line-height: 42px;

}

.link_footer_1:hover {
    color: #222222;
}

.link_footer {
    line-height: 43px;
}

.link_footer:hover {
    color: #222222;
}

.copyr {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 1600px;
    height: 79px;
    align-items: center;
    background-color: #e6e6e6;
}


.copyr_text {
    font-family: Lato;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
}

.soc {
    width: 192px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img_soc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
}

.img_soc_activ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #f16d7f;
}

.img_soc:hover {
    background-color: #f16d7f;
}

.new_arrivals {
    padding-left: 230px;
    padding-right: 230px;
    box-sizing: border-box;
    height: 148px;
    width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f3f4;
}

.men_menu {
    height: 15px;
    width: 220px;
    float: right;
    display: inline-block;
}

.men_menu_item {
    float: left;
    display: inline-block;

}

.men_menu_a {
    text-decoration: none;

    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
}

.men_menu_a:hover {
    color: #f16d7f;
    font-weight: 400;
}

.men_menu_a_activ {
    color: #f16d7f;
    font-weight: 400;
}

.text_new_top {
    font-family: Lato;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
}

.shipping_adress {
    margin: 0 auto;
    width: 1140px;
    height: 473px;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
}

.shiping_ {
    display: block;
    margin-top: 89px;
    box-sizing: border-box;
    width: 100%;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.check_register {
    width: 100%;
    height: 562px;
}

.check {
    display: inline-block;
    float: left;
    padding: 34px 35px;
    width: 50%;
    height: 250px;
    box-sizing: border-box;
}

.registed {
    display: inline-block;
    float: left;
    width: 50%;
    padding: 34px 35px;
    width: 50%;
    height: 250px;
    box-sizing: border-box;
}

.radio {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    margin: 33px 0;
}

#gast_radio,
#register_radio {
    display: inline-block;
    float: left;
    margin-top: 3px;
    margin-bottom: 20px;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border: 2px solid #555555;
}

#gast_radio,
#register_radio[name] {
    
}

.label_radio {
    margin: 0 15px;
    width: 100%;
    font-family: Lato;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}

.guest {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}

.sub_guest {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
}

.save_tame {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}

.continue {
    width: 180px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
}

.text_login {
    display: flex;
    flex-direction: column;
}

.email_password {
    padding-top: 16px;
    padding-bottom: 10px;
    font-family: Lato;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #222222;
}

.zvezda {
    color: #ff0d0d;
}

#gast_password,
#gast_email {
    width: 390px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
}
#gast_password[type="text"],
#gast_email[type="text"]{
    padding-left: 7px;
}

.required_fileds {
    padding-top: 16px;
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #ff0d0d;
}

.forgot {
    margin-left: 32px;
    text-decoration: none;
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #222222;
}

.paragraph1_6 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1140px;
    height: 72px;
    border-bottom: 1px solid #eaeaea;
}

.paragraph {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}
.forgot:hover {
    color:#f16d7f;
}
.symbol_d{
    color:#f16d7f;
    font-weight: bold;
}